# Dependencias
node_modules/

# Base de datos SQLite 
*.db
*.db-shm
*.db-wal

# Variables de entorno nunca subir al repo
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# build / dist
dist/
build/
